@import "https://uishop.netlify.app/style.css";

.app{
  position: relative;
}
pre{
  background-color: rgb(0, 0, 0);
  border-radius: 1rem;
  margin: 1rem 0;
  padding: 0 1rem;
  white-space: pre-wrap;
}
code{
  color: white;
}
.avatarDiv ,.badgeAvatarDiv , .buttonDiv , .floatButtonDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
