@import "https://uishop.netlify.app/style.css";

*{
  margin: 0;
  padding: 0;
}
.app{
  position: relative;
}
pre{
  background-color: rgb(43, 62, 63);
  border-radius: 1rem;
  margin: 1rem 0;
  padding: 0 1rem;
  white-space: pre-wrap;
}
code{
  color: white;
}
