
.app{
  position: relative;
  
}
pre{
  background-color: rgb(32, 31, 31);
  border-radius: 1rem;
  margin: 1rem 0;
  padding: 0 1rem;
  white-space: pre-wrap;
}
code{
  font-size: 0.8rem;
  color: white;
}
.avatarDiv ,.badgeAvatarDiv , .buttonDiv , .floatButtonDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.modalDiv{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
